<app-header></app-header>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');
  </style>
</head>
<body>

<div id="cardHolder">
  <div class="card-container">
    <div class="card-stack" *ngIf="hint1Status">
      <div class="card-item front" #refEl1 (click)="onFrontCardClick(refEl1)"></div>
      <div class="card-item back" #refEl1 (click)="onBackCardClick(refEl1)">{{hint1}}</div>
    </div>
    <div class="card-stack" *ngIf="hint2Status">
      <div class="card-item front" #refEl2 (click)="onFrontCardClick(refEl2) "></div>
      <div class="card-item back" #refEl2 (click)="onBackCardClick(refEl2)">{{hint2}}</div>
    </div>
    <div class="card-stack" *ngIf="hint3Status">
      <div class="card-item front" #refEl3 (click)="onFrontCardClick(refEl3)"></div>
      <div class="card-item back" #refEl3 (click)="onBackCardClick(refEl3)">{{hint3}}</div>
    </div>
    <div class="card-stack" *ngIf="hint4Status">
      <div class="card-item front" #refEl4 (click)="onFrontCardClick(refEl4)"></div>
      <div class="card-item back" #refEl4 (click)="onBackCardClick(refEl4)">{{hint4}}</div>
    </div>
    <div class="card-stack" *ngIf="hint5Status">
      <div class="card-item front" #refEl5 (click)="onFrontCardClick(refEl5)"></div>
      <div class="card-item back" #refEl5 (click)="onBackCardClick(refEl5)">{{hint5}}</div>
    </div>
  </div>
</div>
<button id="addCardBtn" (click)="buyHint()">Buy Hint</button>
</body>
